
@keyframes appear {
    0% {
      opacity: 0;
      transform: scale(1 , 1);

    }
    1%{
        transform: scale(1.5 , 1.5);
    }
    100% {
      opacity: 1;
      transform: scale(1 , 1);
    }
    
}


@keyframes drop-in {
    from {
      transform:
        rotate(-30deg) translateY(-100%);
      opacity: 0;
    }
    to {
      transform:
        rotate(0deg) translateY(0%);
      opacity: 1;
    }
  }


  @keyframes slide-in {
    from{
      transform:
         translateY(100%);
      opacity: 0;
    }
   
    to {
        transform:
           translateY(0%);
        opacity: 1;
      }
  }

  .centered{
    animation: appear 1s ease-in-out;
  }
*{
    transition:  all 0.5s ease-in-out;
}
body {
    background-color: #E8ECEF;
    
  }

.centered {
      padding-top: 200px;
      text-align: center;
  }
  
  .secret-text {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
  }
  
  .display-3 , .Login , .register{

    font-family: 'Rye', cursive;
    transition:  all 0.15s ease-in-out;
  }

  .lead , label{
    font-family: 'Homemade Apple', cursive;
    transition:  all 0.5s ease-in-out;

  }


.card{
   
    background-size: contain;
    border-style: none; 
    background-repeat: no-repeat;
    background-color:  #E8ECEF;
}

input{
    font-family: 'Roboto', sans-serif;
}
.user{
    font-family: 'Rye', cursive;
    font-size: 10rem;
    
    padding-top: 50px;
    padding-bottom: 50px;
}

.heading{
    font-size: 5rem;
    margin-top: 15%;
}
.intro{
    font-family: 'Homemade Apple', cursive;
    font-size: 3rem;
    text-align: center;

    animation: appear 1.5s ease-in-out;
}

.posts{
    text-align: center;
    display: none;
    width: 60%;
    
    background-color: #E8ECEF;
    margin-left: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    
}
.post{
    background-color: #fff;
    width: 80%;
    margin-left: 10%;
    padding:5%;
    border-radius: 40px;
    margin-bottom: 5%;
}

.image{
    width:100%;
    height: 400px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    object-fit: cover;
    cursor: pointer;
    
}

.ImagE{
    /* margin: 15px 10px; */
    display: flex;
    justify-content: center;
    
}
.image-border {
    margin : 20px 0 ;
    border-radius: 10px;
    width: 80%;
    overflow: hidden;
}


.image:hover{
    transform: scale(1.1,1.1);
}

.post ul{
    display: inline-flex;
    list-style-type: none;
}

.post ul li{
    justify-content: space-between;
}


.LogOut{
    position: absolute;
    top: 5%;
    left: 90%;
}

.uploadPost {
    position: absolute;
    top: 5%;
    left: 2%;
}
.UserPage {
    top: 5%;
    position: absolute;
    left: 12%;
}

.HomePage{
    position: absolute;
    top: 5%;
    left: 18%;
}
.active{
    display: block;
    text-align:start;
    padding: 2%;
    margin-top: 5%;
    animation: drop-in 1s ease-in-out;
    background-color: #fff;
    
}

.upload{
    font-family: 'Rye', cursive;
    text-align: center;
    margin-top: 3%;
}

.active label , .active input{
    font-family: 'Roboto', sans-serif;}


.info ul{
    display: inline;
}

.img{
    width:100%;
    height: 500px;
    
    padding:5%;
    border-radius: 40px;
   
    object-fit: contain;
}

.POST{
    margin-top: 0;
}

.IMG{
    display: flex;
    justify-content: center; /* Center content horizontally */
    height: 500px;
    width:100%;
}

.postTitle{
    font-family: 'Rye', cursive;
    font-size: 3rem;
    text-align: center;
    margin-top: 5%;
  
}
.info ul{
    display: inline;
    list-style-type: none;
}


.post-content{
    text-align: center;
}

.info ul li{
    margin-right: 20%;
}

.search{
    position: absolute;
    top:5%;
    left:70%;
}

#content{
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;

}

.info , .com{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.com{
    padding: 2% 5%;
}

.comments{
    position: fixed;
    top: 5%;
    width: 50%;
    left: 25%;
    max-height: 600px;
    background-color: #434343;
    border-radius: 20px;
    animation: slide-in 1s ease-in-out;
    overflow-y: scroll;
    display: none;
}

::-webkit-scrollbar{
    width: 0px;
}
.close{
    padding: 3%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}

.comm{
    padding:3% 5%;
    
}

#com{
    margin-right: 5%;
}



#like , #comment{
    cursor: pointer;
}

.data{
    
    color: #fff;
    
    
    
}

#like:hover , #comment:hover{
   transform: scale(1.1,1.1);
}


.comment-data{
    padding: 3%;
    margin: 5%;
    border-style: solid;
    border-color: #fff;
    border-radius: 20px;
}

.comment-data:hover{
    background-color: #646464 ;
}

.user-border{
    width:15%;
    border-radius: 50%;
    overflow: hidden;
}


.user-icon{
    margin-top: 120px;
    display: flex;
    justify-content: center;
}
.user-border img{
    transition:transform 0.3s ease;
    width: 100%;
}
.user-border img:hover{
    transform: scale(1.02,1.02);
}


.User{
    animation: appear 1.5s ease;
}

.user-name{
    font-family: 'Rye', cursive;
    margin-top: 75px;
    font-size: 3.5rem;
    margin-left: 2.5%;
}


.User-data{
    display: flex;
    justify-content:start;
    width: 40%;
    margin-top: -5%;
    margin-left: 54%;

}


.User-data p{
    font-size: 1.5rem;
}


.UserPost{
   
    margin-top: 7.5%;
    
    width: 400px;
    
  
}


.img-Post{
    object-fit: cover;
    height: 350px;
    width: 300px;
    transition: transform 0.3s ease;
    background-color: #f2f2f2;
   
}


.img-Post:hover{
    transform: scale(1.1,1.1);
    opacity: .3;
    
    background-color: #000000;
}
.posts-User{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 100px;
    animation : slide-in 1s ease-in-out;
   
}

.posts-border{
    border: #000 solid;
    overflow: hidden;
    border-radius: 20px;
    height: 350px;
    width: 300px;
    margin: 5%;
}

.post-info{
    display: flex;
    justify-content: space-between;
    position: relative;
    top:-17%;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
    top: -50px;
    z-index: -1;
    
}

/* .Pinfo{
    color: white;
    /* opacity: 0.6; */
    /* background-color: azure; */
    /* }

.post-info:hover{
    display: flex;
} */ */

.post-title{
    font-family: 'Rye', cursive;
    font-size: 1.5rem;
    overflow-x: hidden;
}


.data-info{
    height: 350px;
    width: 300px;
    background-color: #f2f2f2;
    z-index: 4;
}


.com button{
    border: white;
    background-color: #fff;
}

.buttonsMain{
    display: none;
}



